body {
  text-align: center;
 background-color: darksalmon ;
}
button {
  margin-right: 2rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 15px;
  background-color: darkgreen;
  transition: ease-in-out;
  border: none;
  margin-right: 20px;
  color: rgb(255,255,255);
  box-shadow: 2px 2px 2px plum;
}

button:hover{
  background-color: brown;
  /* color: white; */
  cursor: pointer;
  transition-duration: 1s;
  
}

a:hover{
  text-decoration: none;
  color: aquamarine;
}

h1{
  font-size: 50px;
  background-image: linear-gradient(orange , purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
}