.myflex{
  background-color: yellow;
  /* width: 250px; */
  /* margin: 10px; */
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  height: 500px;
  /* flex-direction: row-reverse; */
  align-items: flex-start;
  /* gap: 100px; */
  /* flex-wrap: wrap; */

}

.flexitem{
  width:100px;
  height: 100px;
  /* padding: 10px; */
  border: 2px solid black;
}

#div2{

  display: flex;
  flex-direction: row;
  /* overflow: scroll; */
  gap :5px;
  /* align-self: flex-end; */
  border :2px solid white;
  flex-grow: 3;
}

h3{
  /* border: 2px solid white; */
  margin: 0;
  
}

.div1{
  color: blue;
  flex-grow:1 ;
}

.div3{
  flex-grow: 1;
}